.landing-page {
    height: 90vh;
}

.title-wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.portrait {
    max-width: 250px;
}