.bg {
    background-color: #686868;
    max-width: 40%;
    margin: 10px 15px 10px 0;
    padding: 15px;
    border-radius: 15px;
    transition: 300ms;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg:nth-child(2n) {
    margin: 10px 0 10px 0;
}

.bg:hover {
    transform: scale(1.08);
}

.overlay {
    background-color: #00000057;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    z-index: 10;
    /* opacity: 0; */
    transition: 300ms;
    display: none;
    /* align-items: center; */
    /* justify-content: center; */
}

.bg:hover .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    text-decoration: none;
}

.icon {
    color: #ffffff;
    font-size: 40px;
    transition: 300ms;
}

.icon:hover {
    color: #686868;
}

.icon:first-child {
    margin: 15px;
}


@media (max-width: 700px) {
    .bg {
        max-width: 90%;
    }
}