.wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image {
    max-width: 500px;
    padding: 0;
}

.description {
    color: #ffffff;
    margin: 0;
    padding: 5px 0 0 0;
    font-weight: 200;
    letter-spacing: 1px;
}