html {
    scroll-behavior: smooth;
}

body.stop-scroll {
    overflow: hidden;
}

.arrow {
    position: fixed;
    bottom: 10px;
    right: 10px;
    /* z-index: 1000; */
    color: #000000;
    transition: 500ms ease-in-out;
    font-size: clamp(1.25rem, 0.8929rem + 2.8571vw, 2.5rem);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.arrow:hover {
    background-color: #0000003f;
    color: #ffffff;
}

.arrow.hidden {
    transform: translate(300%, 0);
}

@media (max-width: 700px) {
    .arrow {
        padding: 10px;
    }
}

@media (max-width: 500px) {
    .arrow {
        padding: 5px;
    }
}